html, body {
    overflow-x: hidden;
 }
.container{
    min-width: 100vw;
}
.header{
    background-color: bisque;
    padding: 2%;
}
.container1{
    margin-left: 5%;
    margin-right: 5%;
}
.image-group{
    background-color: red;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(175, 1, 1);;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(175, 1, 1);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /* outline: black; */
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}