html, body {
    overflow-x: hidden;
 }
.container{
    min-width: 100vw;
}
.header{
    background-color: bisque;
    padding: 2%;
}
.container1{
    margin-left: 5%;
    margin-right: 5%;
}
.image-group{
    background-color: red;
}